<manifest package="com.e16din.sc_bosscontrol"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="com.e16din.sc_bosscontrol.activities.StartActivity"
            android:exported="true"
            android:theme="@style/ScSplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name="com.e16din.sc_bosscontrol.activities.ScreenHolderActivity"/>

        <activity
            android:name="com.e16din.sc_bosscontrol.activities.LockScreenHolderActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.e16din.sc_bosscontrol.activities.LandscapeHolderActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.e16din.sc_bosscontrol.activities.PortraitHolderActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name="com.e16din.sc_bosscontrol.services.ProgressBarService"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name="com.e16din.sc_bosscontrol.services.LockScreenService"
            android:enabled="true"
            android:exported="false"/>

    </application>

</manifest>
